Bottleneck==1.3.7
cffi==1.15.1
click==8.0.4
colorama==0.4.5
cycler==0.11.0
Cython==3.0.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
kiwisolver==1.3.1
matplotlib==3.3.4
nara-wpe==0.0.9
numpy==1.19.5
Pillow==8.4.0
pybind11==2.11.1
pycparser==2.21
pyparsing==3.0.7
pyroomacoustics==0.7.3
python-dateutil==2.8.2
scipy==1.5.4
six==1.16.0
sounddevice==0.4.4
soundfile==0.12.1
tqdm==4.64.1
typing_extensions==4.1.1
zipp==3.6.0
